{% import 'channel_wam/_macros.html' as wam with context %}

{% call wam.section_shell(section, section.folded|default(true)) %}
  <div class="wam-timeline">
    {% for item in section.payload['items'] %}
      <article class="wam-timeline__item">
        <div class="wam-timeline__badge">{{ wam.badge(item.badge_label, item.badge_tone|default('info')) }}</div>
        <div class="wam-timeline__content">
          <p class="wam-timeline__title">{{ item.title }}</p>
          <p class="wam-timeline__meta">{{ item.meta }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
{% endcall %}
