<script>
{% include 'partials/chat_scripts_core.html' %}
{% include 'partials/chat_scripts_lightbox.html' %}
{% include 'partials/chat_scripts_utils.html' %}
{% include 'partials/chat_scripts_notifications.html' %}
{% include 'partials/chat_scripts_helpers.html' %}
{% include 'partials/chat_scripts_dom.html' %}
{% include 'partials/chat_scripts_rooms.html' %}
{% include 'partials/chat_scripts_messages.html' %}
{% include 'partials/chat_scripts_file.html' %}
{% include 'partials/chat_scripts_modals.html' %}
{% include 'partials/chat_scripts_extras.html' %}
</script>
