{% extends "wdcalculator/layout.html" %}

{% block title %}가구 견적 계산기{% endblock %}

{% block styles %}
{{ super() }}
{% include 'wdcalculator/partials/wdcalculator_styles.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wdcalculator/mobile.css') }}?v=20260604a">
{% endblock %}

{% block content %}
{% include 'wdcalculator/partials/wdcalculator_body.html' %}
{% include 'wdcalculator/partials/wdcalculator_scripts_config.html' %}
{% include 'wdcalculator/partials/wdcalculator_scripts.html' %}
<script src="{{ url_for('static', filename='js/wdcalculator/mobile-enhance.js') }}?v=20260604a" defer></script>
{% endblock %}
