{% extends "measurement/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-v2-domain-heroes.css') }}?v=20260712a">
<link rel="stylesheet" href="{{ url_for('static', filename='css/measurement/foms-route-strip.css') }}?v=20260901a">
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders/erp-alimtalk-trace.css') }}?v=20260901b">
{% endblock %}

{% block content %}
{% include 'measurement/partials/dashboard_main.html' %}
{% endblock %}

{% block scripts %}
{% if shell_variant != 'v3' %}
{% include 'measurement/partials/dashboard_scripts.html' %}
{% endif %}
{% endblock %}
