{% extends "construction/layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-construction-mobile-card.css') }}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-v2-domain-heroes.css') }}?v=20260712a">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-complete-gate.css') }}?v=20260712a">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-packing.css') }}?v=20260713a">
{% endblock %}

{% block content %}{% include 'construction/partials/dashboard_body.html' %}{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/construction/foms-complete-gate.js') }}?v=20260712a"></script>
<script defer src="{{ url_for('static', filename='js/foms/tablet-construction-workmode.js') }}?v=20260713a"></script>
<script defer src="{{ url_for('static', filename='js/shipment/foms-packing.js') }}?v=20260713a"></script>
{% endblock %}
