{% extends "orders/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-v2-cs-hero.css') }}?v=20260712a">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/foms-call-log.css') }}?v=20260712a">
{% endblock %}

{% block content %}
{% include 'orders/partials/dashboard_main.html' %}
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('static', filename='js/orders/foms-call-log.js') }}?v=20260712a"></script>
{% endblock %}
